.metric-number{
    font-size: 2.5vw;
    color: #342ead;
}

.metric-number:hover{
    cursor: pointer;
}

.metric-container:hover{
    color: #342ead;
    border-bottom: 2px solid #342ead;
}

.metric-container:hover:div{
    font-weight: bold;
}
